.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}
.row {
    width: 100%;
}
.column {
    float: left;
    padding: 10px;
    border: rgb(100 100 100) 1px solid;
    box-sizing: border-box;
    margin: .5em 0;
    background: rgb(225 225 225);
}
.one-half {
    width: 50%;
}
.one-third {
    width: 33.33%;
}
.one-fourth {
    width: 25%;
}
.one-sixth {
    width: 16.66%;
}
.one-eighth {
    width: 12.5%;
}
